@import 'src/styles/variables';

.nav-link {
  transition: color 0.3s ease;
  cursor: pointer;

  &.hover-green:hover {
    color: $hover-green;
  }

  &.hover-pink:hover {
    color: $hover-pink;
  }

  &.disabled {
    pointer-events: none;
    opacity: 0.5;
    cursor: not-allowed;
    color: $disabled-color;
    text-decoration: none;
  }

}
