<h3 class="mb-3">Listado de personajes</h3>

<app-search></app-search>

<hr class="mb-4" />

<app-spinner *ngIf="isLoading"></app-spinner>


<div *ngIf="!isLoading && characters.length > 0">
  <div class="row g-3 mb-4">
    <div *ngFor="let character of characters" class="col-12 col-sm-6 col-md-4 col-xl-2">
      <app-character-card [character]="character"></app-character-card>
    </div>
  </div>

  <app-pagination
    [currentPage]="currentPage"
    [totalPages]="totalPages"
    [pages]="pages"
    (pageChange)="goToPage($event)">
  </app-pagination>
</div>
