@import 'src/styles/variables';
.btn-outline-primary {
  color: $primary-color;
  border-color: $primary-color;
  transition: background-color 0.3s ease, color 0.3s ease;

  &:hover,
  &:focus,
  &:active {
    background-color: $primary-color;
    color: #fff;
    border-color: $primary-color;
  }
}
