@import 'src/styles/variables';
@import 'src/styles/global';

.character-container {

  .image-column {
    text-align: center;

    h3 {
      margin-top: 1rem;
    }

    p {
      color: $disabled-color;
    }
  }

  .character-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 10px $img-shadow;
  }

  h2 {
    color: $primary-color;
  }

}

.character-box {
  border: 3px solid transparent;
  padding: 20px;
  border-radius: 8px;
  animation: borderGlow 2s ease forwards;
}

.delete-banner {
  background-color: $primary-color;
  color: $dark-color;
  padding: 1rem;
  border-radius: 0.5rem;
  font-weight: bold;
}
