@import 'src/styles/variables';

.character-container {

  .image-column {
    text-align: center;

    h3 {
      margin-top: 1rem;
    }

    p {
      color: $disabled-color;
    }
  }

  .character-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 10px $img-shadow;
  }

  .btn-outline-primary {
    color: $primary-color;
    border-color: $primary-color;
    transition: background-color 0.3s ease, color 0.3s ease;

    &:hover,
    &:focus,
    &:active {
      background-color: $primary-color;
      color: #fff;
      border-color: $primary-color;
    }
  }

  h2 {
    color: $primary-color;
  }

}

@keyframes borderGlow {
  0% {
    border-color: transparent;
    box-shadow: none;
  }
  50% {
    border-color: $hover-purple;
    box-shadow: 0 0 8px 2px $hover-purple;
  }
  100% {
    border-color: $character-border;
    box-shadow: 0 0 20px 5px $character-border;
  }
}

.character-box {
  border: 3px solid transparent;
  padding: 20px;
  border-radius: 8px;
  animation: borderGlow 2s ease forwards;
}

.delete-banner {
  background-color: $hover-pink;
  color: $dark-color;
  padding: 1rem;
  border-radius: 0.5rem;
  font-weight: bold;
}
