<div *ngIf="deleted" class="alert delete-banner text-center my-4">
  Personaje eliminado correctamente. Serás redirigido en 3 segundos...
</div>

<div class="character-container container my-4" *ngIf="!deleted && character">
  <div class="row my-5" [ngClass]="{'character-box': !showEditModal}">

    <div class="col-12 col-lg-4 image-column text-center mb-4 mb-lg-0">
      <img [src]="character.image"
           [alt]="character.name"
           class="character-image" />
      <h2 class="mt-3">{{ character.name }}</h2>
    </div>

    <div class="col-12 col-lg-8">
      <div class="row">
        <h3 class="text-muted mb-5">{{ character.species }} - <span [ngClass]="character.status | characterStatus">{{ character.status }}</span></h3>
        <div class="col-12 col-md-6 mb-5">
          <strong>Género:</strong>
          <div>{{ character.gender === 'Female' ? 'Femenino': character.gender === 'Male' ? 'Masculino' : character.gender }}</div>
        </div>
        <div class="col-12 col-md-6 mb-5">
          <strong>Origen:</strong>
          <div>{{ character.origin.name === 'unknown' ? 'Desconocido' : character.origin.name }}</div>
        </div>
        <div class="col-12 col-md-6 mb-5">
          <strong>Tipo:</strong>
          <div>{{ character.type ? character.type : '-' }}</div>
        </div>
        <div class="col-12 col-md-6 mb-5">
          <strong>Ubicación actual:</strong>
          <div>{{ character.location.name }}</div>
        </div>
        <div class="col-12 col-md-6 mb-5">
          <strong>Creado el:</strong>
          <div>{{ character.created | date:'MMMM d, y' }}</div>
        </div>
        <div class="col-12 col-md-6 mb-5">
          <strong>Cantidad de episodios:</strong>
          <div>{{ character.episode.length }}</div>
        </div>
      </div>
    </div>

  </div>

  <!-- Botones -->
  <div class="d-flex justify-content-between mt-5">
    <a routerLink="/characters" class="btn btn-outline-primary">
      Volver al listado
    </a>

    <div>
      <button class="btn btn-outline-danger mx-1" (click)="onDelete()">Borrar</button>
      <button class="btn btn-outline-success mx-1" (click)="onEdit()">Editar</button>
    </div>
  </div>
</div>

<app-edit-character-modal
  *ngIf="showEditModal"
  [character]="character"
  (closed)="showEditModal = false"
  [visible]="showEditModal"
  (updated)="onCharacterUpdated($event)">
</app-edit-character-modal>

